@mixin material-overrides() {
  // @include nb-for-themes(material-dark, material-light) {
  @include nb-for-themes(material-light) {
  
    nb-card {
      border-bottom-left-radius: 0.125rem;
      border-bottom-right-radius: 0.125rem;

      nb-card-header,
      .tabset {
        background-color: nb-theme(card-divider-color);
      }
    }

    [nbinput] {
      font-weight: 400;

      &.status-basic:focus:hover {
        border-color: nb-theme(color-primary-focus) !important;
      }
    }

    [nbbutton] {
      box-shadow: none !important;
    }
  }
}
