<h1 mat-dialog-title>{{in_isAdd?'新增':'修改'}}人員職稱</h1>


<form [formGroup]="form" (ngSubmit)="submit()">

    <div mat-dialog-content>




        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>職稱</mat-label>
                    <input matInput formControlName="title">
                    <!-- <mat-error *ngIf="ApplicantName.hasError('required')"></mat-error> -->
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>職級</mat-label>
                    <input matInput formControlName="level" type="number">
                    <!-- <mat-error *ngIf="ApplicantName.hasError('required')"></mat-error> -->
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>狀態</mat-label>
                    <mat-select formControlName="status">
                        <mat-option [value]="1">啟用</mat-option>
                        <mat-option [value]="0">停用</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>



    </div>

    <div mat-dialog-actions align="end">
        <button mat-raised-button color="primary" [nbSpinner]="isSubmit" [disabled]="isSubmit">
            {{in_isAdd?'新增':'修改'}}
        </button>
    </div>


</form>