@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

// @include media-breakpoint-down(md) {

// }

// custom
$my-color-main: #ffe100;
$my-color-2nd: #231815;

$my-header-background: $my-color-main;
$my-header-text: $my-color-2nd;

$my-sidebar-background: $my-color-2nd;
$my-sidebar-text: $my-color-2nd;

$my-menu-text-color: rgba(255, 255, 255, 0.75);
$my-menu-item-hover-background-color: rgba(255, 255, 255, 0.04);
$my-menu-item-active-background-color: rgba(255, 255, 255, 0.08);

button {
  outline: none !important;
}
pre {
  margin: 20px 0;
  padding: 10px;
  background: #eee;
}
.badge {
  font-size: 90%;
  font-weight: normal;
}
.full-page-loading {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 900;
}

.nb-theme-material-light {
  .header-container .logo-container .logo {
    border-left: 0 !important;
  }

  nb-sidebar.expanded.left.fixed ~ .content {
    margin-left: 3.5rem;
  }

  nb-layout .layout .layout-container nb-sidebar.fixed,
  nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
    top: 0;
  }

  nb-layout-header {
    background-color: $my-header-background !important;

    nav {
      color: $my-header-text !important;
      a {
        color: $my-header-text !important;
      }
    }

    nb-actions,
    .logo-container {
      nb-icon,
      .user-name {
        color: $my-header-text !important;
      }
    }

    nb-action {
      border-left-color: rgba(0, 0, 0, 0.1) !important;
    }

    nb-user .user-picture {
      border: 0 !important;
    }

    .select-button {
      background-color: #fafafa !important;
    }
  }

  nb-sidebar {
    background-color: $my-sidebar-background;
    transition: width 0.1s;

    .scrollable::-webkit-scrollbar-track {
      background: $my-sidebar-background !important;
    }

    .scrollable::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.3);
    }

    nb-menu {
      .menu-item {
        border-bottom: 1px solid $my-sidebar-background !important;

        a {
          color: $my-menu-text-color !important;
          .menu-icon {
            color: $my-menu-text-color !important;
          }
        }
        a:hover {
          background-color: $my-menu-item-hover-background-color !important;
        }
        a.active {
          color: $my-color-main !important;
          background-color: $my-menu-item-active-background-color !important;
          .menu-icon {
            color: $my-color-main !important;
          }
        }

        .menu-item:first-child {
          border-top: 1px solid $my-sidebar-background !important;
        }

        .expand-state {
          color: $my-menu-text-color !important;
        }
      }
    }

    nb-sidebar.compacted {
      nb-menu .menu-item a.active::before {
        background: $my-color-main !important;
      }
    }
    nb-sidebar.compacted nb-menu .menu-item a.active::before {
      background: $my-color-main !important;
    }

    .main-container {
      transition: width 0.1s;
    }
  }
}

nb-sidebar.compacted nb-menu .menu-item a.active::before {
  background: $my-color-main !important;
}

nb-toast {
  nb-icon {
    text-align: center;
  }
}

// mat-card
.mat-card {
  padding: 0 !important;

  .mat-card-header {
    padding: 16px;
    background-color: #eee;
    border-radius: 4px 4px 0 0;

    .mat-card-header-text {
      margin: 0;
    }
    .mat-card-title {
      margin-bottom: 0;
      font-size: 1rem;
    }
  }

  .mat-card-content {
    padding: 16px;
    margin: 0;
  }
}

.mat-card > .mat-card-actions:last-child {
  padding: 0 16px 16px 16px !important;
  margin: 0;
}
// end mat-card

mat-option.option-appid-appname {
  span.appid {
    position: absolute;
  }
  span.appName {
    position: relative;
    padding-left: 100px;
  }
}

.org-picker-div {
  input {
    // padding-right: 6rem;
  }

  .org-picker-btn {
    position: absolute;
    right: 0;
    bottom: 10px;
  }
}

.org-picker {
  .mat-checkbox-layout-hover {
    .mat-checkbox-layout {
      padding: 6px 10px;
    }
  }
}

.mat-checkbox-layout-hover {
  .mat-checkbox-layout {
    padding: 3px 10px;
    border-radius: 5px;
  }

  .mat-checkbox-layout:hover {
    background: #eeeeee;
  }
}

// datatables
table.dataTable {
  thead {
    th {
      background-color: #eeeeee;
    }
  }
}

.dataTables_wrapper {
  .top {
    border-top: 1px solid #000;
  }
  .bottom {
    margin-top: 15px;
    padding: 0 10px;
  }
  .clear {
    clear: both;
    padding: 5px;
  }

  .dataTables_paginate {
    margin-top: 3.57px;
    padding-top: 0;
    outline: none;
    background: #fff;

    .paginate_button {
      border: 1px solid #ddd !important;
      border-radius: 0px !important;
      margin: 0 !important;
      color: #4a4a4a !important;
    }
    .paginate_button.previous {
      border-radius: 4px 0 0 4px !important;
      border-right: 0 !important;
    }
    .paginate_button.next {
      border-radius: 0 4px 4px 0 !important;
    }

    > span {
      .paginate_button {
        border-right: 0 !important;
      }
    }

    .paginate_button.current,
    .paginate_button:hover,
    .paginate_button:active {
      color: #000 !important;
      background-color: #eee !important;
      background: #eee !important;
      // background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
      box-shadow: unset;
    }

    .paginate_button.disabled {
      color: #c1c1c1 !important;
    }
    .paginate_button.disabled:hover {
      color: #c1c1c1 !important;
      background: #fff !important;
    }
  }
}
// end datatables

.form-component-mb {
  margin-bottom: 20px;
}

.form-content {
  .mat-radio-button.mat-radio-disabled .mat-radio-label-content {
    color: inherit !important;
  }
}

.p0 {
  padding: 0 !important;
}

.info-form-content {
}

.sform-row {
  display: flex;
  // flex-wrap: wrap;
  margin: 0 0 10px 0;
  padding: 6px 0;
  border-bottom: 1px solid #ccc;

  .sform-title {
    min-width: 5rem;

    > span {
      background: #eee;
      padding: 4px;
      border-radius: 4px;
    }
  }
}

#flowchart-div {
  .mat-dialog-content {
    max-height: initial;
  }
}

.ckeditor-view {
  * {
    line-height: initial;
  }
  img {
    max-width: 100%;
  }
  table {
    border-collapse: collapse;
    th,
    td {
      border: 1px solid #bfbfbf;
      padding: 8px;
    }
  }
  blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
  }
}
