<div class="form-content">
    <form [formGroup]="form">

        DEMO

        <br><br>



        <table class="form table table-bordered">
            <tr class="">
                <td>表單編號</td>
                <td>
                    <ng-container>{{formData?.serial}}</ng-container>
                </td>
            </tr>
            <tr>
                <td class="title" [class.error]="form.get('applicantID').touched && form.get('applicantID').errors">
                    申請人
                </td>
                <td class="">
                    <mat-form-field *ngIf="edit_ApplicantID">
                        <mat-select formControlName="applicantID">
                            <mat-option *ngFor="let item of applicantList" [value]="item.applicantID">
                                {{item.applicantName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <ng-container *ngIf="!edit_ApplicantID">{{formData?.applicantName}}</ng-container>

                </td>
            </tr>
            <tr>
                <td class="title"
                    [class.error]="form.get('applicantDeptID').touched && form.get('applicantDeptID').errors">
                    申請部門
                </td>
                <td class="">

                    <mat-form-field *ngIf="edit_ApplicantDeptID">
                        <mat-select formControlName="applicantDeptID">
                            <mat-option *ngFor="let item of applicantDeptList" [value]="item.applicantDeptID">
                                {{item.applicantDept}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <ng-container *ngIf="!edit_ApplicantDeptID">{{formData?.applicantDept}}</ng-container>

                </td>
            </tr>
            <tr>
                <td class="title">申請日期</td>
                <td class="">
                    {{formData?.applicantDate | date :'YYYY/MM/dd HH:mm'}}
                </td>
            </tr>
            <tr>
                <td class="title">級別</td>
                <td>
                    <mat-radio-group color="primary" formControlName="levelID">
                        <mat-radio-button *ngFor="let item of baseData.levels" [value]="item.levelID">{{item.level}}
                        </mat-radio-button>
                    </mat-radio-group>
                </td>
            </tr>
            <tr>
                <td class="title">
                    AAA
                </td>
                <td>
                    <!-- 有aaa修改權限 -->
                    <mat-form-field *ngIf="edit_aaa">
                        <input matInput formControlName="aaa">
                        <mat-error></mat-error>
                    </mat-form-field>

                    <!-- 沒有aaa修改權限，只能看 -->
                    <ng-container *ngIf="!edit_aaa"><span>{{formData.aaa}}</span></ng-container>
                </td>
            </tr>
            <tr>
                <td class="title">
                    bbb
                </td>
                <td>
                    <!-- 有bbb修改權限 -->
                    <mat-form-field *ngIf="edit_bbb">
                        <input matInput formControlName="bbb">
                        <mat-error></mat-error>
                    </mat-form-field>

                    <!-- 沒有bbb修改權限，只能看 -->
                    <ng-container *ngIf="!edit_bbb"><span>{{formData.bbb}}</span></ng-container>
                </td>
            </tr>

        </table>




    </form>



</div>

<pre *ngIf="debug">
{{ form.value | json}}
</pre>