.content {
    height: calc(100% - 50px);
    margin-bottom: 10px;
}
.content-main,
.content-selected {
    height: 100%;
}

.content-main-hearder {
    height: 60px;
}
.content-main-list {
    // height: 88%;
    height: calc(100% - 60px);
    overflow: auto;
    // padding-top: 10px;
}
.content-selected {
    overflow: auto;
}
.content-selected-row {
    padding-left: 2rem;
}
.content-selected-item {
    position: relative;
    background: #F5F5F5;
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 6px;
}
.content-selected-item:hover {
    background: #dadada;
}
.content-selected-item-deptname {
    display: block;
    font-size: 0.7rem;
    color: #A5A5A5;
}
.content-selected-delete {
    position: absolute;
    right: 0.5rem;
    top: 0.3rem;
    color: #929292;
    cursor: pointer;
}
.content-selected-delete:hover {
    color: #4d4d4d;
}
.footer {
    button {
        margin-left: 10px;
    }
}
#list {
    th {
        position: sticky !important;
        top: 0;
        z-index: 1;
    }
}
.list-tr {
    cursor: pointer;
}
.checkbox-area {
    position: relative;
}
.checkbox-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
