<mat-card [nbSpinner]="isLoading">
    <mat-card-header>
        <mat-card-title><i class="fas fa-file-import"></i> 進行中表單</mat-card-title>
    </mat-card-header>

    <mat-card-content class="p0">

        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="w-100 row-border hover ">
            <thead>
                <tr>
                    <th scope="col" class="text-center"></th>
                    <th scope="col" class="text-center">級別</th>
                    <th scope="col" class="text-center">表單</th>
                    <th scope="col" class="text-center">編號</th>
                    <th scope="col" class="text-center">申請時間</th>
                    <th scope="col" class="text-center">目前步驟</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list">
                    <td class="text-center">{{item.levelNumber}}</td>
                    <td class="text-center">
                        <span class="" [ngxFormLevelLabel]="item.levelID">{{item.level}}</span>
                    </td>
                    <td class="text-center">{{item.formName}}</td>
                    <td class="text-center">
                        <a [routerLink]="['/form/info']" [queryParams]="{formID:item.formID}">
                            {{item.serial}}
                        </a>
                    </td>
                    <td class="text-center">{{item.applicantDate | date:'YYYY/MM/dd HH:mm'}}</td>
                    <td class="text-center">
                        <ngx-step-approver [in_list]="item.nowStepApproverList"></ngx-step-approver>
                    </td>



                </tr>
            </tbody>
        </table>

    </mat-card-content>

</mat-card>